{% extends "dashboard/dash_template.html" %}
{% block content %}
<div>
  <h1>Key Matrics(dashboard)</h1>
  <hr style="width: 93%; margin-left: -10px; height: 1em; border-color: blue; border-width: 3px;">
</div>
<div>
  <div class="row" style="float: left;width: 40%">
    <h3 style="margin: auto;">Dash Currency</h3>  
    <hr style="width: 92%; margin-left: 7px">
  </div>
  <div class="row">
    <h3 style="margin: auto;">Neptune Dash</h3> 
    <hr style="width: 89%; margin-left: -16px">
  </div>
</div>
<div class="row">
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>${{dash_info.cmp}}</h1>
        <footer>Cryptocurrency Market Cap</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>${{dash_info.dmp}}</h1>
        <footer>Dash Market Cap</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>NeptuneDash Stock Price</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>NeptuneDash Coin Value</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>Net Asset Value</footer>
      </blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>${{dash_info.dpp}}</h1>
        <footer>Dash Price per Coin</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{dash_info.rank}}<sup>th</sup></h1>
        <footer>Dash Market Position</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>Number of Masternodes</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>New MasterNodes Past 30days</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>30Day Yield on MasterNodes</footer>
      </blockquote>
    </div>
  </div>
</div>
<div class="row">
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>${{dash_info.dcs}}</h1>
        <footer>Dash Circulating Supply</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type1 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>${{dash_info.dv}}</h1>
        <footer>Daily Volume</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>Number of Dash Coins Owned </footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>New Dash Coins Past 30days</footer>
      </blockquote>
    </div>
  </div>
  <div class="card card-inverse card-type2 mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h1>{{"None"}}</h1>
        <footer>Number of Dash Projects</footer>
      </blockquote>
    </div>
  </div>
</div>
{% endblock %}